.gif-search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.gif-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
  justify-items: center;
}

.gif-item {
  cursor: pointer;
}

.pagination {
  margin-top: 20px;
}

.pagination button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #2887ec;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
  background-color: #4da3ff;
}
